.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-large {
  font-size: 10em;
}

.text-med {
  font-size: 5em;
}

.text-english {
  font-family: "Varela Round", sans-serif;
}

.text-japanese {
  font-family: "Rounded Mplus 1c", sans-serif;
  font-weight: 500;
  margin: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.third {
  flex-grow: 1;
  margin: 0;
  max-width: 30%;
  min-width: 280px;
  padding: 2em;
}

.left {
  text-align: left;
}

.justify {
  text-align: justify;
}

/* HEIGHT */

@media screen and (max-height: 800px) {
  .text-large { font-size: 8em; }
  .text-med { font-size: 4em; }
}

@media screen and (max-height: 650px) {
  .text-large { font-size: 6em; }
  .text-med { font-size: 3em; }
}

@media screen and (max-height: 500px) {
  .text-large { font-size: 4em; }
  .text-med { font-size: 2em; }
}

/* WIDTH */

@media screen and (max-width: 1000px) {
  .text-large { font-size: 8em; }
  .text-med { font-size: 4em; }
}

@media screen and (max-width: 700px) {
  .text-large { font-size: 6em; }
  .text-med { font-size: 3em; }
}

@media screen and (max-width: 400px) {
  .text-large { font-size: 4em; }
  .text-med { font-size: 2em; }
}