.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-large {
  font-size: 10em;
}

.text-med {
  font-size: 5em;
}

.text-english {
  font-family: "Varela Round", sans-serif;
}

.text-japanese {
  font-family: "Rounded Mplus 1c", sans-serif;
  font-weight: 500;
  margin: 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.third {
  flex-grow: 1;
  margin: 0;
  max-width: 30%;
  min-width: 250px;
  padding: 2em;
}

.left {
  text-align: left;
}

.justify {
  text-align: justify;
}
