* {
  box-sizing: border-box;
}

body {
  margin: 0;
  text-align: center;
}

h1, h2, h3 {
  margin: 0;
  padding: 0.5em;
}

.spinner {
  font-size: 10em;
  z-index: 50;
  animation-duration: 750ms;
  animation-name: spin;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: steps(8, end);
}

.top {
  position: relative;
}

.switches {
  margin: 1em;
  position: absolute;
  right: 0;
  top: 0;
}

.switch-alphabet {
  background: white;
  font-size: 1em;
  height: 30px;
  text-align: center;
  width: 40px;
}

.switch-alphabet:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.switch-alphabet:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.user-input {
  background: none;
  border: 0;
  text-align: center;
  text-transform: uppercase;
  outline: 0px;
  width: 70vw;
}

.practice-text {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.attempts {
  padding: 0;
}

.attempt {
  list-style: none;
}

@media screen and (max-width: 1000px) {

}

@media screen and (max-width: 700px) {

}

@media screen and (max-width: 400px) {
  header {
    text-align: left;
  }
}